body{
  font-family: 'Montserrat', sans-serif;
}
#title{
  background-color: #ff4c68;
  color:white;

  }
.app-mockup{
  left: 10rem;
  transform: rotate(20deg);
  position: absolute;
}
@media (max-width : 1028px){
  #title{
    background-color: #ff4c68;
    color:white;
    text-align: center;
  }
  .app-mockup{
    margin :auto;
    transform: rotate(0);
    position: static;
  }
}

h1{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
}
.container-fluid{
  padding : 3%;
}
/*nav bar*/
.navbar{
  padding:0 0 4.5rem 0;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item{
  padding-left: 1.4rem;
  }
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-Light',sans-serif;
}
.download-button{
  margin : 5%;
  font-family: sans-serif;
}
.icon{
  font-size: 4rem;
  color : #ef8172;
  padding-bottom: 5%;
}
.icon:hover{
  color:#ff4c68;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
p{
  font-family: 'Montserrat-Light',sans-serif;
  color: grey;
  text-align: center;
}
#testimonial{
  padding : 7% 15%;
  background-color: #ef8172;
  color:white;
  text-align: center;
  position: relative;
  z-index: 1;
}
.testimonial-image{
  width :10%;
  border-radius : 100%;
  margin-top:30px;
}
.testimonial-writer{
  font-family: Montserrat-Light;
  margin-top: 1% ;
}
.h2{
  font-size: 3rem;
}
.carousel-item{
  padding : 7% 15%;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
  position: relative;
  z-index: 1;
}
.press-image{
  width : 15%;
  margin-right:2%;
}
#pricing{
  padding : 100px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.pricing-column{
  padding : 3% 2% 3% 2%;
}
#cta{
  text-align: center;
  background-color: #ff4c68;
  color:white;

  padding-top: 7%;
}
#footer{
  background-color: #fafafa;
 text-align: center;
 padding-top: 200px;
}
.icon-logo{
  display:inline-block;
  width: 20px;
}
.icons{
  margin-right:30px;
}
hr{
  width : 70rem;
  margin: 30px auto 30px;
}
